<div class="sidebar">
  <div>
    <div class="logo">
      <img src="/favicon.ico" alt="Axione" />

      <div>
        <h2>Axione</h2>
        <span>Admin Panel</span>
      </div>
    </div>

    <span class="menu-heading">MAIN</span>

    <nav>
      <a
        routerLink="/admin/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <i class="ri-dashboard-fill"></i>

        <span>Dashboard</span>
      </a>

      <a routerLink="/admin/blogs" routerLinkActive="active">
        <i class="ri-article-fill"></i>

        <span>Blogs</span>
      </a>

      <a routerLink="/admin/services" routerLinkActive="active">
        <i class="ri-briefcase-fill"></i>

        <span>Services</span>
      </a>

      <span class="menu-heading mt"> COMMUNICATION </span>

      <a routerLink="/admin/contacts" routerLinkActive="active">
        <i class="ri-mail-fill"></i>

        <span>Contacts</span>
      </a>

      <a routerLink="/admin/newsletter" routerLinkActive="active">
        <i class="ri-mail-send-fill"></i>

        <span>Newsletter</span>
      </a>

      <span class="menu-heading mt"> Team </span>

      <a routerLink="/admin/team" routerLinkActive="active">
        <i class="ri-team-line"></i>

        <span>Team Members</span>
      </a>
    </nav>
  </div>

  <button class="logout-btn" (click)="logout()">
    <i class="ri-logout-box-r-line"></i>

    Logout
  </button>
</div>
