<section class="contacts-page">
  <div class="page-header">
    <div>
      <h1>Contacts</h1>
      <p>Manage all customer enquiries.</p>
    </div>
  </div>

  <div class="search-box">
    <i class="ri-search-line"></i>

    <input
      type="text"
      [(ngModel)]="search"
      (input)="searchContacts()"
      placeholder="Search contact..."
    />
  </div>

  <div class="table-card">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Contact Info</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        @if (!loading) {
          @for (contact of filteredContacts; track contact.id) {
            <tr>
              <!-- NAME -->
              <td>
                <strong>{{ contact.name }}</strong>
              </td>

              <!-- CONTACT INFO -->
              <td class="contact-info">
                <div>
                  <i class="ri-mail-line"></i>
                  <span>{{ contact.email }}</span>
                </div>

                @if (contact.phone) {
                  <div>
                    <i class="ri-phone-line"></i>
                    <span>{{ contact.phone }}</span>
                  </div>
                }
              </td>

              <!-- SUBJECT -->
              <td>
                {{ contact.subject || '-' }}
              </td>

              <!-- MESSAGE -->
              <td class="message-cell">
                <div [class.expanded]="expandedContactId === contact.id">
                  {{ contact.message || '-' }}
                </div>

                @if (contact.message && contact.message.length > 100) {
                  <button type="button" class="view-more" (click)="toggleMessage(contact.id)">
                    {{ expandedContactId === contact.id ? 'View Less' : 'View More' }}
                  </button>
                }
              </td>

              <!-- DATE -->
              <td>
                {{ contact.createdAt | date: 'dd MMM yyyy' }}
              </td>

              <!-- ACTION -->
              <td>
                <button class="delete" type="button" (click)="deleteContact(contact.id)">
                  <i class="ri-delete-bin-6-line"></i>
                </button>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
</section>
