<footer>
  <div class="container footer-container">
    <div class="footer-about">
      <img src="/Footer_Logo.png" alt="Axione Solutions" />

      <p>
        Empowering businesses with innovative software development, cloud solutions, digital
        marketing and IT consulting services.
      </p>

      <!-- <a routerLink="/contact" class="btn btn-primary"> Get In Touch </a> -->

      <div class="social-links">
        <a href="https://www.linkedin.com/company/axione-solutions" target="_blank">
          <i class="ri-linkedin-fill"></i>
        </a>

        <a href="https://www.facebook.com/axionesolutions" target="_blank">
          <i class="ri-facebook-fill"></i>
        </a>

        <a href="https://www.instagram.com/axionesolutions" target="_blank">
          <i class="ri-instagram-line"></i>
        </a>

        <a href="https://x.com/AxioneSolutions" target="_blank">
          <i class="ri-twitter-x-line"></i>
        </a>
      </div>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>

      <a routerLink="/">Home</a>

      <a routerLink="/about">About Us</a>

      <a routerLink="/services">Services</a>

      <a routerLink="/career">Career</a>

      <a routerLink="/contact">Contact</a>
    </div>

    <div class="footer-links">
      <h3>Our Services</h3>

      <a routerLink="/services">Web Development</a>

      <a routerLink="/services">Software Development</a>

      <a routerLink="/services">Digital Marketing</a>

      <a routerLink="/services">Cloud Solutions</a>

      <a routerLink="/services">Support & Maintenance</a>
    </div>

    <div class="footer-links">
      <h3>Contact Info</h3>
      <ul>
        <li>
          <i class="ri-mail-line"></i>

          <a href="mailto:info@axionesolution.com"> info@axionesolution.com </a>
        </li>

        <li>
          <i class="ri-phone-line"></i>

          <a href="tel:+1234567890"> +1 (234) 567-890 </a>
        </li>

        <li>
          <i class="ri-map-pin-line"></i>

          <a
            href="https://maps.google.com/?q=Dallas,Texas"
            target="_blank"
            rel="noopener noreferrer"
          >
            Dallas, Texas, USA
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container footer-bottom-content">
      <p>© 2026 Axione Solutions LLC. All Rights Reserved.</p>

      <div class="footer-policy">
        <a href="#"> Privacy Policy </a>

        <a href="#"> Terms & Conditions </a>
      </div>
    </div>
  </div>
</footer>
